.match{
    height:30vw;
width:370px;
/* border:1px solid gray; */
border-radius:10px;
box-shadow: 5px 10px 20px rgb(230, 176, 185);
 /* margin:90px 300px 87px 300px;  */
}

.alerterrr{
    margin-left:20px;
    color:red;
    font-size:12px;
    display: flex;
    justify-content: start;
}

label{
    margin-left:200px;
}